/*giving all font*/
*{
    font-family: 'IBM Plex Sans', serif;
    line-height: 30px;
}
.body{
    float: left;
    width: 1200px;
    font-size: 20px;
    margin-left: 20px;
}
.title{
    font-size: 60px;
    font-weight: bold;
}
.bluelinks{
    text-decoration: none;
    color: rgb(0,150,255);
}
.bluelinks:hover{
    border-bottom: 2px solid rgb(0,150,255);
}
.text{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}
.notice{
    width: 700px;
    color: red;
}


/*when page gets small this removes left margin*/
@media only screen and (min-width: 1000px) {
    .body{
        margin-left: 200px;
    }
}