/*giving all font*/
*{
    font-family: 'IBM Plex Sans', serif;
    line-height: 30px;
}
.body{
    float: left;
    width: 55%;
    font-size: 20px;
    margin-left: 20px;
}
.title{
    font-size: 60px;
    font-weight: bold;
    padding-left: 10px;
}
.blinks{
    text-decoration: none;
    color: rgb(0,150,255);
}
.blinks:hover{
    border-bottom: 2px solid rgb(0,150,255);
}
.text{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
}
.row{
    width: 100%;
}


/*when page gets small this removes left margin*/
@media only screen and (min-width: 1000px) {
    .body{
        margin-left: 100px;
    }
}