/* found it easier to do all css in one file,
since its all using basically the same layout.
Don't wanna type everything 5 billion times */

/* ALL */
.body{
    float: left;
    font-size: 20px;
    width: 100%;
}
.title{
    font-size: 60px;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: rgb(0,150,255);
}
.link:hover{
    border-bottom: 3px solid rgb(0,150,255);
}
*{
    font-family: 'IBM Plex Sans', serif;
    line-height: 30px;
}


/* HOMEPAGE */
.notice{
    color: red;
}
.indexText{
    width: 60%;
}
.indexP{
    padding-bottom: 10px;
}


/* RESUME */
img.resume{
    width: 700px;
}


/* CONTACT */
.contactP{
    line-height: 40px;
}


/* LIST PAGES */
.titlelink{
    text-decoration: none;
    color: black;
}
.titlelink:hover{
    border-bottom: 3px solid black;
}
.row{
    width: 100%;
    padding-left: 20px;
}
.listtitle{
    line-height: 50px;
}
.description{
    font-style: italic;
}
div.img{
    height: 150px;
    width: 200px;
    border: 10px solid rgb(211,211,211);
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
img.img{
    width: 100%;
    height: 100%;
}
.text{
    display: inline-block;
    position: absolute;
}





.hidden{
    text-decoration: none;
    color: black;
}
@media only screen and (min-width: 850px) {
    .body{
        margin-left: 175px;
    }
}
@media only screen and (max-width: 850px) {
    .indexText{
        width: 100%;
    }


    /* resume */
    img.resume{
        width: 80%;
    }
}
