
#projectsGoHere {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 20px;

	.content {
		width: 300px;
		height: 120px;
		padding-left: 20px;
		margin: 10px;
		border-radius: 20px;
		background-color: var(--cardColor);
	
		overflow: hidden;
	
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	
		transition: 0.3s;
		color: var(--textColor);
		
		position: relative;
	
		.text{
			display: flex;
			flex-direction: column;
			justify-content: center;
			*{
				margin: 5px;
			}
		}
	
		*{
			z-index: 1;
		}
	
		svg{
			stroke: var(--textColor);
			transition: 0.3s;
			&:hover{
				stroke: var(--backgroundColor)
			}
		}
	
		&:hover{
			color: black;
	
			svg{
				stroke: var(--backgroundColor);
				&:hover{
					stroke: var(--textColor)
				}
			}
		}
	
		&:after{
			content:"";
			position: absolute;
			left: 0;
			width: 0;
			height: 100%;	
			opacity: 0;
			z-index: 0;
			transition: 0.3s;
		}
	
		&.javascript:after{
			background: var(--color_javascript);
		}
		&.python:after{
			background: var(--color_python);
		}
		&.django:after{
			background: var(--color_django);
		}
		&.react:after{
			background: var(--color_react);
		}
		&.solidworks:after{
			background: var(--color_solidworks);
		}
		&.mechanical:after{
			background: var(--color_mechanical);
		}

		&:hover:after{
			width: 100%;
			opacity: 1;
		}
	
		.projectIcons{
			display: flex;
			padding: 10px;
	
			a{
				height: fit-content;
			}
		}
	}
}

#sorting{

	#search {
		width: 100%;
		display: flex;
		justify-content: center;

		input{
			color: var(--textColor);
			height: 30px;
			width: 250px;
			border-radius: 8px;
			font-weight: bold;
			padding-left: 10px;
			background-color: var(--cardColor);
			border: 2px solid var(--textColor);
			font-size: 20px;
		}
	}		
	
	#buttons{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		p{
			margin: 0;
		}

		.btn {
			float: left;
			padding: 4px 6px 4px 6px;
			margin: 0 5px 5px 0;
			border-radius: 4px;
			font-weight: 600;
			cursor: pointer;
			transition: 0.3s;
		}
	}	
}

// project borders

div.javascript{
	border: 2px solid var(--color_javascript);
}
div.python{
	border: 2px solid var(--color_python);
}
div.django{
	border: 2px solid var(--color_django);
}
div.react{
	border: 2px solid var(--color_react);
}
div.solidworks{
	border: 2px solid var(--color_solidworks);
}
div.mechanical{
	border: 2px solid var(--color_mechanical);
}