:root {
	--all: grey;
	--solidworks: #B24C63;
	--python: #53B3CB;
	--mechanical: #F08A4B;
	--javascript: #DBD56E;
	--react: #02b875;
	--django: #4B92DB;
	--white: #ffffff;
}

#projectPage{

	margin-bottom: 70px;

	#sortingContainer{

		margin: 20px 0;
		display: flex;
        flex-wrap: wrap;

		input{
			color: var(--textColor);
			background-color: var(--backgroundColor);
			border: 2px solid var(--textColor);
			font-weight: normal !important;
		}
		
		p{
			margin: 0;
		}

		.btn, input {
			font-size: 16px;
			float: left;
			padding: 4px 6px;
			margin: 0 5px 5px 0;
			border-radius: 4px;
			font-weight: 600;
			cursor: pointer;
			transition: 0.3s;
		}
	}

	#featuredContainer{
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		
		.featuredIcon{
			margin: 20px;
			background-color: var(--superLightGrey);
			height: 250px;
			width: 300px;
			border-radius: 20px;
			overflow: hidden;
			transition: 0.3s;
			
			&:hover{
				transform: scale(1.1);
			}

			.featuredText{
				background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.7));
				height: 250px;
				width: 300px;
				position: absolute;
				vertical-align: bottom;
				transition: 0.4s;
				border-radius: 20px;

				.contentTitle{
					position: absolute;
					bottom: 0;
					color: white;
					font-weight: bold;
					font-size: 30px;
					margin: 20px;
				}
			}
			
			.featuredImage{
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				width: 300px;
				height: 250px;
				overflow: hidden;
				background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.1), rgba(0,0,0,0.3));
				border-radius: 20px;

				img{
					min-height: 100%;
					min-width: 100%;
					object-fit: cover;
				}
			}
		}
	}

	#projectIcons{

		.content {

			border-bottom: 1px solid var(--grey);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			
			transition: 0.3s;
			color: var(--textColor);
			padding: 5px 20px;
			height: fit-content;
			min-height: 35px;

			&:hover{
				background: var(--lightgrey);
			}

			.contentTitle{
				font-weight: bold;
				font-size: 18px;
			}

			.contentDesc{
				font-size: 16px;
			}

			.dot{
				margin-left: 10px;
				margin-right: 10px;
			}
			
			.projectIcons{
				display: flex;
				align-items: center;
				// padding: 10px;
				
				a{
					height: fit-content;
					display: flex;
					align-items: center;
					margin: 0 3px;
					
					svg{
						stroke: var(--textColor);
						transition: 0.3s;
						&:hover{
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}
	
}