:root {
	--all: grey;
	--solidworks: #B24C63;
	--python: #53B3CB;
	--mechanical: #F08A4B;
	--javascript: #DBD56E;
	--react: #02b875;
	--django: #4B92DB;
	--white: #ffffff;
}

#projectPage{

	#sortingContainer{

		margin-top: 20px;
		display: flex;
        flex-wrap: wrap;

		input{
			color: var(--textColor);
			background-color: var(--backgroundColor);
			border: 2px solid var(--textColor);
			font-weight: normal !important;
		}
		
		p{
			margin: 0;
		}

		.btn, input {
			font-size: 16px;
			float: left;
			padding: 4px 6px;
			margin: 0 5px 5px 0;
			border-radius: 4px;
			font-weight: 600;
			cursor: pointer;
			transition: 0.3s;
		}
	}

	#projectsGoHere {
		
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		
		.content {
			width: 300px;
			height: 120px;
			padding-left: 20px;
			margin: 10px 20px 10px 0;
			border-radius: 20px;
			background-color: var(--cardColor);
			
			overflow: hidden;
			
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			transition: 0.3s;
			color: var(--textColor);
			
			position: relative; // for the :after effect
			

			// makes hover thingy appear on bottom, text stays on top
			*{
				z-index: 1;
			}
			
			svg{
				stroke: var(--textColor);
				transition: 0.3s;
				&:hover{
					transform: scale(1.2);
				}
			}
			
			&:hover{
				color: black;
				svg{
					stroke: black;
				}
			}
			
			// hover animation
			&:after{
				content:"";
				position: absolute;
				left: 0;
				width: 0;
				height: 100%;	
				opacity: 0;
				z-index: 0;
				transition: 0.3s;
			}
			
			&:hover:after{
				width: 100%;
				opacity: 1;
			}
			
			.projectIcons{
				display: flex;
				padding: 10px;
				
				a{
					height: fit-content;
				}
			}
		}
	}
	
}