#projectBody {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: min(700px, 90%);
	margin: auto;
	
	#blocks {
		width: 100%;
		
		video {
			max-height: 500px;
			max-width: min(100%, 500px);
			margin: auto;
		}
	
		iframe {
			max-width: calc(100% - 10px);
		}

		img{
			max-height: 500px;
			object-fit: contain;
		}
		
		.sliderContainer {
			width: min(90%, 400px);
		}
	}
}