/* here we got the sorting colors css */

:root {
	--color_all: rgb(30, 39, 46);
	--color_solidworks: #B24C63;
	--color_python: #53B3CB;
	--color_mechanical: #F08A4B;
	--color_javascript: #DBD56E;
	--color_react: #02b875;
	--color_django: #4B92DB;
	--white: #ffffff;
}

.sort_all {
	border: 2px solid var(--color_all);
	color: var(--color_all);
	background-color: var(--white);
	fill: var(--color_all);
}
.sort_all.active, .sort_all:hover {
	color: var(--white);
	background-color: var(--color_all);
	fill: var(--white);
}
.sort_solidworks {
	border: 2px solid var(--color_solidworks);
	color: var(--color_solidworks);
	background-color: var(--white);
	fill: var(--color_solidworks);
}
.sort_solidworks.active, .sort_solidworks:hover{
	color: var(--white);
	background-color: var(--color_solidworks);
	fill: var(--white);
}
.sort_python {
	border: 2px solid var(--color_python);
	color: var(--color_python);
	background-color: var(--white);
	fill: var(--color_python);
}
.sort_python.active, .sort_python:hover{
	color: var(--white);
	background-color: var(--color_python);
	fill: var(--white);
}
.sort_mechanical {
	border: 2px solid var(--color_mechanical);
	color: var(--color_mechanical);
	background-color: var(--white);
	fill: var(--color_mechanical);
}
.sort_mechanical.active, .sort_mechanical:hover{
	color: var(--white);
	background-color: var(--color_mechanical);
	fill: var(--white);
}
.sort_javascript {
	border: 2px solid var(--color_javascript);
	color: var(--color_javascript);
	background-color: var(--white);
	fill: var(--color_javascript);
}
.sort_javascript.active, .sort_javascript:hover{
	color: var(--white);
	background-color: var(--color_javascript);
	fill: var(--white);
}
.sort_react {
	border: 2px solid var(--color_react);
	color: var(--color_react);
	background-color: var(--white);
	fill: var(--color_react);
}
.sort_react.active, .sort_react:hover{
	color: var(--white);
	background-color: var(--color_react);
	fill: var(--white);
}
.sort_django {
	border: 2px solid var(--color_django);
	color: var(--color_django);
	background-color: var(--white);
	fill: var(--color_django);
}
.sort_django.active, .sort_django:hover{
	color: var(--white);
	background-color: var(--color_django);
	fill: var(--white);
}