.title{
    padding-top: 30px;
    text-align: center;
}
.page {
    width: calc(100vw - 400px);
}
@media only screen and (max-width: 800px) {
    .page{
        width: 100vw;
    }
}
p{
    line-height: normal !important;
    width: auto !important;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* the entry has the image and text side */
#projectsGoHere {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    clear: both;
}
.entry {
    display: flex;
    flex: 1 0 42%;
    max-width: 47%;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    margin-right: 2rem;
    margin-top: 2rem;
    height: 190px;
}
.entry div {
    margin-bottom: 0.3rem;
}
.entry p {
    max-width: 95%;
}

/* image side */
.image_div {
    flex: .8;
    max-width: 330px;
    margin: 0 1rem 0.5rem 0;
    height: 100%;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
.image {
    border-radius: 6%;
    height: 100%;
}

/* text side */
.text_div {
    flex: 1;
}
.project-title {
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 5px;
}
.title-link{
    text-decoration: none;
    color: black;
    margin-bottom: -30px;
}
.title-link:hover{
    border-bottom: 3px solid black;
}
.type_date {
    font-weight: bold;
    display: flex;
    font-size: 1rem;
    color: grey;
}
.date {
    color: rgb(0, 150, 255);
}
.description {
    max-height: 4em;
}

@media screen and (max-width: 1460px) {
    .entry {
        max-width: 100%;
        margin-right: 0px;
    }
    #projectsGoHere {
        display: block;
        width: 100%;
        flex-direction: column;
        margin: 0px;
    }
}

/* here we got the sorting css */

}

}

.sort label {
    font-size: 1em;
    font-weight: bold;
    color: var(--m-color);
}

}
}