/* CONTACT */

*{
    text-decoration: none;
}
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#main{
    line-height: 40px;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
#other{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
#other1{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.link{
    margin: 20px;
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
    width: 150px;
    transition: 0.5s;
}
.primary{
    width: 350px;
}
.text{
    text-align: center;
    font-weight: bolder;
    color: black;
    transition: 0.5s;
}
.link:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.link:hover .text{
    color: white;
    transition: 0.5s;
}

@media only screen and (max-width: 700px) {
    .contact{
        width: 100%;
        padding-left: 0px;
    }
}