/* CONTACT */

*{
    text-decoration: none;
}
#blogs{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 65%;
}
.item{
    padding-top: 35px;
    max-width: 500px;
    max-height: 200px;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s ease;
}

.item:hover{
    max-height: fit-content;
    transition: 0.5s ease;
}
.blog-title{
    font-size: 50px;
}
.date{
    font-size: 17px;
    color: grey;
    padding-bottom: 22px;
}
.content{
    color: black;
}
.list-seperate{
    width: 20%;
    text-align: left;
    margin-top: 35px;
    margin-left: 0;
    background-color: grey;
    border: 1px solid grey;
}