/* CONTACT */

*{
    text-decoration: none;
}
.blogs{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 65%;
}
.item{
    padding-top: 40px;
    max-width: 500px;
    max-height: 200px;
    overflow: hidden;
}
.item:hover{
    max-height: 10000px;
}
.blog-title{
    font-size: 50px;
}
.date{
    font-size: 17px;
    color: grey;
    padding-bottom: 10px;
}
.content{
    color: black;
}