// this is for mobile stuff

// cutoff for mobile display is 875px, it is when the nav no longer fits
// at this point, page becomes centered instead of left aligned
// text will still stay left aligned, with their parent being centered

@media only screen and (max-width: 875px) {


    #workItems {
        width: min(450, 90%);

        h1 {
            font-size: 25px;
        }
    }


    // project directory
    .dot {
        display: none;
    }

    .contentDesc {
        display: none;
    }

    #projectIcons {
        width: min(90%, 400px);
    }

    .projectDirectoryPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // links only show up on navbar
    #links {
        display: none;
        z-index: 20;
    }

    // homepage
    #pfp {
        display: none;
    }

    .larger {
        text-align: center;
    }

    #homePage {
        padding: 50px 10% 0 10% !important;
    }

    #homepageTitle {
        justify-content: center !important;
    }

    #splash {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .workTitleDate {
        display: none;
    }
}