// this is for mobile stuff

// cutoff for mobile display is 875px, it is when the nav no longer fits
// at this point, page becomes centered instead of left aligned
// text will still stay left aligned, with their parent being centered

@media only screen and (max-width: 875px) {


    // INDEX
    .main{
		max-width: 100%;
		margin: 0%;
		padding-top: 50px;
	}
	h2{
		text-align: center;
	}
    .title{
        margin: 0 !important;
        width: 100% !important;
        text-align: center !important;
    }
    .subtitle{
        text-align: center;
    }

    // NAV
    #navButton{
        z-index: 10;
        display: flex;
    }
    #navBox{
        flex-direction: column;
        display: none;
        height: 100vh;
        width: 100vw;
        background-color: var(--overlayColor);
        justify-content: center;

        .navTitle{
            padding-left: 0;
        }
        #navLinks {
            flex-direction: column;
            margin: 0;
            
            .navlink{
                margin-top: 10px;
                font-size: 40px;
            }
        }
        #darkmode{
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin: 20px;
            background-color: var(--textColor);

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // WORK
    #workPage{
        align-items: center;
        
        #workItems{
            width: 90%;

            h1{
                font-size: 25px;
            }
        }
    }

    // CONTACT
    .contactCard{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin: auto;
    }
    #contactLinks{
		justify-content: center;
	}

    // PROJECT PAGES
    #projectBody{
		margin-left: 5%;
        margin-right: 5%;

		// everything is centered except for p
		text-align: center;
		p{
			text-align: left;
		}

		.img{
			margin: 0 !important;
		}

		#hr{
			margin: auto;
		}

		#icons{
			justify-content: center;
		}

		.text{
			max-width: 1000px;
		}

		li{
			width: fit-content;
		}

        .render{
            max-width: calc(100% - 10px) !important;
        }
	}

    // PROJECTS
    #sortingContainer{
		justify-content: center;
	}
}

// HOMEPAGE SPLITSCREEN (SKILLS)
@media only screen and (max-width: 1200px) {
	#homepageSplitscreen{
		flex-direction: column !important;
		
		& > *{
			max-width: 700px;
			margin-bottom: 0px !important;
			margin-top: 0px !important;
		}
	}
}