// cutoff for mobile display is 875px, it is when the nav no longer fits
@media only screen and (max-width: 875px) {
    // project directory
    .dot {
        display: none;
    }

    .contentDesc {
        display: none;
    }

    #projectIcons {
        width: min(90%, 400px);
    }

    .projectDirectoryPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // homepage
    #pfp {
        display: none;
    }
    
    #homepageTitle {
        justify-content: center !important;
        text-align: center;
    }

    #splash {
        display: none;
    }
}