.blogPost{
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: left;
	margin-top: 30px;
	
	.blogContent{
		line-height: 1.5em;
	}

	h3{
		margin: 0;
	}

	.postTitle{
		color: var(--text-color);

	}
}

#blogPage{
	width: min(700px, 90%);
	margin: auto;
}