
#contactPage{

	display: flex;
	flex-direction: column;

	.contactCard{
		height: fit-content;
		width: 500px;

		display: flex;
		flex-direction: column;

		h2{
			// text-align: center;
			font-size: 30px;
			margin-bottom: 10px;
			font-weight: lighter;
		}

	}

	svg{
		fill: var(--textColor);
		transition: 0.3s;

		&:hover{
			fill: var(--grey);
			transform: scale(1.1);
		}
	}

	form{
		display: flex;
		flex-direction: column;
		width: 100%;
		
		button{
			width: 100px;
			margin: auto;
			color: var(--textColor);
			outline: none;
			border: none;
			border-radius: 10px;
			font-size: 15px;
			padding: 10px 0;
			background-color: var(--backgroundColor);
			margin-top: 10px;
		}

		#name{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		input, textarea{
			background-color: var(--backgroundColor);
			padding: 10px;
			margin: 5px;
			border-radius: 5px;
			outline: none;
			border: none;
			color: var(--textColor);
			flex: 1;
			border: 1px solid var(--textColor);
			font-size: 15px;
		}

		textarea{
			height: 100px;
			resize: none;
		}

		button[type='submit']{
			width: fit-content;
			padding: 5px 20px;
			margin: auto;
			margin-top: 5px;
			border: 1px solid var(--textColor);
			transition: 0.3s;

			&:hover{
				background: var(--lightgrey);
			}
		}
	}

	#contacts {
		line-height: 40px;
		max-width: 500px;

		#contactLinks{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			// justify-content: center;

			svg{
				width: 30px; 
				height: 30px;
			}

			a{
				padding: 10px;
			}
		}
	}
}

// @media only screen and (max-width: 1186px) {
	
// }