
#contactPage{

	.contactCard{
		max-width: 700px;

		h2{
			font-size: 30px;
			margin-bottom: 10px;
			font-weight: normal;
		}
	}

	form{
		display: flex;
		flex-direction: column;
		width: 100%;

		#name{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		input, textarea{
			font-size: 15px;
			padding: 10px;
			margin: 5px;
			border-radius: 5px;
			color: var(--textColor);
			background-color: var(--backgroundColor);
			border: 1px solid var(--textColor);
		}

		::placeholder{
			color: var(--grey);
		}

		input{
			flex: 1;
		}

		textarea{
			height: 100px;
			resize: none;
		}

		button[type='submit']{
			border-radius: 10px;
			font-size: 15px;
			padding: 5px 20px;
			margin: auto;
			margin-top: 5px;
			border: 1px solid var(--textColor);
			background-color: var(--backgroundColor);
			transition: 0.3s;

			&:hover{
				background: var(--lightgrey);
			}
		}
	}

	#contactLinks{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 50px;

		svg{
			fill: var(--textColor);
			transition: 0.3s;
			width: 30px; 
			height: 30px;
	
			&:hover{
				fill: var(--grey);
				transform: scale(1.1);
			}
		}

		a{
			padding: 10px;
		}
	}
}