
#contactPage{

	h2{
		font-size: 30px;
		margin-bottom: 10px;
		font-weight: normal;
	}

	#contactLinks{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 50px;

		svg{
			fill: var(--textColor);
			transition: 0.3s;
			width: 30px; 
			height: 30px;
	
			&:hover{
				fill: var(--grey);
				transform: scale(1.1);
			}
		}

		a{
			padding: 10px;
		}
	}
}