html {
	// when code scrolls the page, it looks nice
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
}

.title {
	font-size: 50px;
	margin: 0;
}

#splash {
	&:hover {
		transform: scale(1.1);
	}
}

.subtitle {
	margin: 5px 0;
	font-style: italic;
}

p, ul, li {
	a {
		text-decoration: none;
		color: var(--primaryColor);
	}
}

a{
	color: var(--mantine-color-text);
	text-decoration: none;
}