#homepageTitle{
	padding-top: 20vh;

	@media only screen and (max-width: 700px) {
		padding-left: 0;
	}

	.title {
		font-size: 50px;
		margin: auto;
		text-align: center;

		@media only screen and (max-width: 700px) {
			text-align: center;
			padding: 0;
		}

		span{
			font-size: 90px;
		}
	}
	
	#splash {
		color: var(--textcolor);
		font-size: 20px;
		width: fit-content;
		user-select: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 20px auto;
	}

}