#homePage {
	padding: 100px 10% 0 10%;
	margin: 0 auto 50px auto;
	max-width: min(calc(100% - 100px), 800px);
	display: flex;
	flex-direction: column;

	#homepageTitle {
		font-size: 20px;
		color: grey;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		.photo {
			height: 175px;
			width: 175px;

			img {
				height: 100%;
				width: 100%;
				border-radius: 50%;
			}
		}

		.larger {
			font-weight: bold;
			font-size: 40px;
			color: var(--textColor);

			.special {
				font-size: 60px;
			}
		}

		#splash {
			user-select: none;
			transition: 0.3s;
			transform-origin: left top;
			text-align: left;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	#featuredContainer {
		display: flex;
		flex-direction: row;
		width: calc(100% + 40px);
		flex-wrap: wrap;
		margin-left: -20px;
	}
}

canvas#background-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}