html{
	// when code scrolls the page, it looks sexy
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--backgroundColor);
	color: var(--textColor);
	min-height: 100vh;
}
p:not([class]){
	font-size: 20px;
	line-height: 30px;
}
.main {
	max-width: calc(100% - 100px);
	margin: 0 min(10%, 150px);
	display: flex;
	flex-direction: column;
	padding-top: 100px;
}

.title {
	font-size: 50px;
	margin: 0;
	width: fit-content;
}

.special{	
	color: var(--primaryColor);
}

.subtitle{
	margin: 5px 0;
	font-style: italic;
}


a{
	text-decoration: none;
}
p a{
	color: var(--primaryColor);
	
	&:hover{
		text-decoration: underline;
	}
}

li a{
	color: var(--grey);
	text-decoration: underline;

	&:hover{
		text-decoration: none;
	}
}