body {
	margin: 0;
	background-color: var(--backgroundColor);
	color: var(--textColor);
	transition: 0.3s;
	transition-property: background-color;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

#root{
	height: 100%;
}

a{
	text-decoration: none;
}