#navBox {
	display: flex;
	font-size: 20px;
	height: 70px;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	z-index: 20;
	background-color: var(--backgroundColor);
	width: 100%;

	#navLinks{
		
		display: flex;
		justify-content: center;
		align-items: center;

		.navlink {
			color: var(--textColor);
			margin: 0 20px;
			user-select: none;
			height: fit-content;
			border-bottom: 2px solid transparent;		
	
			&:hover {
				border-bottom: 2px solid var(--textColor);
			}
		}
	}

	#darkmode{
		border-radius: 50%;
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--textColor);
		transition: 0.5s;
		margin-right: 20px;
	
		&:hover{
			transform: scale(1.2);
		}
	
		svg{
			fill: var(--backgroundColor);
		}
	}
}

#navButton{
	background-color: var(--textColor);
	width: 75px;
	height: 37.5px;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 10px;
	display: none;
	font-size: 22.5px;
	justify-content: center;
	align-items: center;

	p{
		height: 30px;
		margin: 10px;
		line-height: 30px;
		text-align: center;
	}
}

@media only screen and (max-width: 800px) {
	#navButton{
		z-index: 10;
		display: flex;
	}
	#navBox {
		padding-top: 50px;
		position: absolute;
		flex-flow: column;
		height: 100vh;
		width: 100vw;
		background-color: rgba(30, 30, 30, 0.7);
		display: none;
		z-index: 9;
		overflow: hidden;
	}
	.navlinks{
		padding: 0;
		padding-top: 10px;
		margin: 25px auto;
		width: 100%;
		text-align: center;
		font-size: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		p{
			margin: 0;
			padding: 0;
			width: fit-content;
		}
	}
}