#navBox {
	display: flex;
	font-size: 20px;
	height: 50px;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 2;
	// background-color: var(--navBackground);
	backdrop-filter: blur(10px);
	width: fit-content;
	border-radius: 50px;
	padding: 0 20px;
}


#links {

	position: fixed;
	bottom: 20px;
	right: 20px;

	svg {
		width: 30px;
		height: 30px;
		margin-bottom: 10px;
		stroke: var(--textColor);
		transition: 0.3s;

		&:hover {
			stroke: var(--grey);
			transform: scale(1.2);
		}
	}
}