#workPage {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

#workItems {
	width: 700px;
	border-radius: 20px;
	padding-bottom: 20px;

	.workCategory {
		overflow: hidden;
	}

	h1 {
		padding: 20px 0 10px;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 25px;
		border-bottom: 2px solid light-dark(var(--mantine-color-dark-2), var(--mantine-color-dark-1));
		width: 100%;
	}

	p {
		width: calc(100% - 20px);
		margin-top: 10px;
	}


	.titleBlock {
		height: fit-content;
		margin-bottom: 10px;
		font-size: 17px;

		.workTitle {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 3px;
			display: flex;
			justify-content: space-between;
		}

		:hover {
			cursor: pointer;
		}
	}

	.content {
		overflow: hidden;
		font-style: italic;
		color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-dark-1));
	}



}


.assets {
	width: max-content;
	max-width: 90%;
}

#resourcePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}