#workSubtitle {
	color: var(--textColor);
	font-size: 20px;
	text-align: center;
}

#workItems{
	width: min(600px, 100%);
	border-radius: 20px;
	padding-bottom: 40px;

	h1{
		padding-top: 20px;
	}

	.workItem{

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 20px;
		width: 100%;

		.graphics{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.svg{
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color: var(--textColor);
			display: flex;
			justify-content: center;
			align-items: center;

			svg, img{
				max-width: 40px;
				max-height: 40px;
				fill: var(--backgroundColor);
			}
		}

		.line{
			width: 3px;
			height: calc(100% - 60px);
			background-color: var(--textColor);
		}

		.text{
			margin-left: 20px;

			.workTitle{
				font-weight: bold;
				font-size: 20px;
			}

			.subtitle{
				color: var(--subtitleColor);
			}

			.content{
				margin-top: 10px;
			}

		}

		.workTitle:hover, .subtitle:hover{
			cursor: pointer;
		}

		.arrow svg:hover{
			cursor: pointer;
		}

	}


}