#workSubtitle {
	font-size: 20px;
}

#workItems{
	width: min(600px, 100%);
	border-radius: 20px;
	padding-bottom: 40px;

	h1{
		padding-top: 20px;
	}

	h1:hover{
		cursor: pointer;
	}

	.workItem{

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 20px;
		width: 100%;

		.graphics{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.svg{
			width: 60px;
			height: 60px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--cardColor);

			svg, img{
				max-width: 50px;
				max-height: 50px;
				fill: var(--textColor);
			}
		}

		.line{
			width: 3px;
			height: calc(100% - 60px);
			background-color: var(--cardColor);
		}

		.text{
			margin-left: 20px;

			.workTitle{
				font-weight: bold;
				font-size: 25px;
			}

			.content{
				margin-top: 10px;
				margin-bottom: 40px;
				color: var(--subtitleColor);
			}

		}
	}
}