#links {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#links ul {
  padding: 0;
  list-style-type: none;
}
#links svg {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  stroke: var(--blue);
}
#links .verticalLine {
  height: 60px;
  width: 3px;
  background-color: var(--blue);
  margin: auto;
}
#darkmode {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
